# Python virtual environment
backend/venv/

# Python cache
backend/**/__pycache__/
backend/**/*.pyc

# Database
backend/nesthub.db

# Uploaded images
backend/uploads/

# VS Code
.vscode/

# Environment variables
backend/.env
# Frontend environment variables
frontend/.env
frontend/.env.*